{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <h1>Reset Your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Change my password"></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has bee used</p>
    {% endif %}
{% endblock %}
