{% extends 'registration/log_base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
      <a href="/"><b>E</b>Company</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Forgotten Your password?</p>
        <p>Enter your e-mail address to obtain a new password!</p>
            <form method="post">
                {% csrf_token %}
                <table class="table table-hover"> 
                {{ form }}
                </table>
            <p><input type="submit" value="Send e-mail"></p>
            </form>
      </div>
    </div>
</div>
{% endblock %}