{% extends 'registration/log_base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
      <a href="/"><b>E</b>Company</a>
    </div>
    <!-- /.login-logo -->
        <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Password Set</p>      
            <p>Your password has been set 
                You can <a href="{% url 'login' %}">Log In now</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
