{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col">
            <h3>CashFlow Data</h3>
            {{ years }}
        </div>
    </div>
    <div class="w-100"></div>
    <div class="row">
        <div class="col-8">
        <br>
        </div>
    </div>
    <div class="row">
        <div class="w-100">
        <h4>Client</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Client</th>
                <th scope="col">Jan</th>
                <th scope="col">Feb</th>
                <th scope="col">Mar</th>
                <th scope="col">Apr</th>
                <th scope="col">May</th>
                <th scope="col">Jun</th>
                <th scope="col">Jul</th>
                <th scope="col">Aug</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nov</th>
                <th scope="col">Dec</th>
                <th scope="col">Tot Cli</th>
              </tr>
            </thead>
            <tbody>
                {% for key, value in clients.items %}
                  <tr>
                  <th scope="row">{{ key }}</th>
                  {% for val in value %}
                    {% if forloop.counter == 13 %}
                      <th>{{ val }}</th>
                    {% else %}
                      <td>{{ val }}</td>
                    {% endif %}
                  {% endfor %}   
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock%}