{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <p><h2>Welcome  to your Dashoard {{ user.first_name}}. </h2><br> You can <a href="{% url "edit" %}">edit your profile</a> 
        or <a href="{% url "password_change" %}">change your password</a>.</p>
    <h3>CashFlow Data</h3>
    <div>
        <h2>Here I would like to insert the table with the 
            cashflow situation.
        </h2>
        <p>the structure of th tabe will be formed by two table</p>
        <p>one for the client with the income value for month </p>
        <p>one with the seller with the expence for month</p>
        <p>the query in the db is made considering the pvia of the user</p>
        <p>thanks to that I can understad who is the client and the seller</p>
        <p>and conequently create che table</p>
    </div>
{% endblock%}