{% extends "base.html" %}
{% block title %}Create an Account{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="form-floating mb-3">
    <h1>Creare an Accout</h1>
    <p>Please, sign up using the following form:</p>
    
    <form method="post">
        {% csrf_token %}
        <table class="table table-hover">
        {{ user_form }}
        {{ profile_form }}
        </table>
        <p><input type="submit" value="Create my Account" class="btn btn-success"></p>
    </form>
        </div>
    </div>
</div>
{% endblock %}