{% extends 'index_CFD.html' %}
{% load static %}

{% block title %}Invoice View{% endblock %}
{%block style%} 
    <style type="text/css">

            #fattura-elettronica
            {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: auto;
            margin-right: auto;
            max-width: 1280px;
            min-width: 800px;
            padding: 0;  }

            #fattura-elettronica
            div.page {
            }

            .tbHeader
            {
            width: 800px;
            border: 2px solid black;
            }


            tr td {vertical-align: top;}

            .tdHead {
            width: 50%;
            height: 91px;
            border: 1px solid black;
            }

            .tableHead
            {
            font-size:smaller;
            width: 100%;
            }

            .headBorder
            {
            
            }

            .headerLabel
            {
            color:#282828;
            font-weight:bold;


            }

            .headContent
            {
            margin-left:10px;
            margin-bottom:0px
            }

            .mt5
            {
            margin-top:5px
            }


            tr.break { page-break-after: always; }

            .ulAllegati
            {
            margin-top:0px;
            }


            .separa
            {
            height:20px;
            }

            table.tbTitolo
            {
            width: 800px;
            table-layout: fixed;
            border-collapse: collapse;
            word-wrap:normal; 
            }
            table.tbTitolo th {
            padding-left: 5px;
            padding-right: 5px;
            border: solid 1px #000000;
            border-bottom: none;
            background-color: LightCyan;
            font-size:x-small;

            }


            table.tbFoglio
            {
            width: 800px;
            table-layout: fixed;
            border-collapse: collapse;
            word-wrap:break-word;
            }
            
            table.tbFoglio th {
            padding-left: 5px;
            padding-right: 5px;
            border: solid 1px #000000;
            background-color: LightGrey;

            
            font-size:x-small;


            }

            table.tbFoglio tbody
            {
            border: solid 1px #000000;
            }

            table.tbFoglio th .perc
            {
            width:50px;
            }

            table.tbFoglio td {
            font-size:small;

            border-right: solid 1px #000000;
            border-bottom: none;
            border-left: solid 1px #000000;
            }

            table.tbFoglio tr {

            }

            .textRight
            {
            text-align:right;
            }

            .textCenter
            {
            text-align:center;
            }

            .textPerc
            {
            width:50px;
            }

            td.Ritenuta
            {
            width:50px;
            text-align:center;
            }

            th.title, .title td {
            width:48%
            }

            th.perc {
            width:50px;
            }

            th.perc2 {
            width:40px;
            }

            th.data {
            width:80px;
            }

            th.import
            {
            width:100px;
            }

            td.import
            {
            text-align:right;
            }

            th.import2
            {
            width:80px;
            }

            td.import2
            {
            text-align:right;
            }

            th.ximport
            {
            width:100px;
            }

            td.ximport
            {
            text-align:center;
            }

            th.ximport2
            {
            width:80px;
            }

            td.ximport2
            {
            text-align:center;
            }

            td.data
            {
            text-align:center;
            }

            .tx-xsmall {
            font-size:x-small;
            }

            .tx-small {
            font-size:small;
            }

            .import
            {
            text-align:right;
            }

            table.tbNoBorder
            {
                border-collapse: collapse;			
                margin-bottom: 5px;			  
                font-size:small;
                text-align:center;
                width:800px;
            }
            
        </style>
    <style>@font-face {
                font-family: 'Open Sans Regular';
                font-style: normal;
                font-weight: 400;
                src: url('chrome-extension://gkkdmjjodidppndkbkhhknakbeflbomf/fonts/open_sans/open-sans-v18-latin-regular.woff');
            }</style>
    <style>@font-face {
                font-family: 'Open Sans Bold';
                font-style: normal;
                font-weight: 800;
                src: url('chrome-extension://gkkdmjjodidppndkbkhhknakbeflbomf/fonts/open_sans/open-sans-v18-latin-800.woff');
        }</style>
{%endblock%} 
{% block content %}
    {{ invoice }}
          <div id="fattura-container">
            <div id="fattura-elettronica" class="page">
              <table id="tbHeader" class="tbHeader">
                <tbody>
                  <tr>
                    <td class="tdHead"><table class="tableHead">
                      <tbody>
                        <tr>
                          <td>
                            <div class="headBorder">
                              <label class="headerLabel">Cedente/prestatore (fornitore) </label>
                              <div class="headContent mt5">
                                    Identificativo fiscale ai fini IVA:
                                    <span>IT05782640485</span>
                              </div>
                              <div class="headContent">
                                    Codice fiscale:
                                    <span>05782640485</span>
                              </div>
                              <div class="headContent">
                                    Denominazione:
                                    <span>STUDIO LA ROSA E ASSOCIATI</span>
                              </div>
                              <div class="headContent">
                                <div class="headContent">
                                    Regime fiscale:
                                    <span>RF01</span>
                                        ordinario
                                </div>
                              <div class="headContent">
                                  Indirizzo:
                                    <span>VIA VITTORIO EMANUELE II, 117 </span>
                              </div>
                              <div class="headContent">
                                <span>Comune: <span>FIRENZE</span>
                                  Provincia:<span>FI</span>
                                </span>
                              </div>
                              <div class="headContent">
                                  <span>
                                      Cap:
                                      <span>50134</span>
                                      Nazione:
                                      <span>IT</span>
                                  </span>
                              </div>
                              <div class="headContent">
                                  Telefono:
                                  <span>055486791</span>
                              </div>
                              <div class="headContent">
                                  Email:
                                  <span>info@studiolarosaeassociati.it</span>
                              </div>
                              <div class="headContent"></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td class="tdHead">
                  <table class="tableHead">
                    <tbody>
                      <tr>
                        <td>
                          <div class="headBorder">
                            <label class="headerLabel">Cessionario/committente (cliente) </label>
                            <div class="headContent mt5">
                                    Identificativo fiscale ai fini IVA:
                                    <span>IT04701040489</span>
                            </div>
                            <div class="headContent">
                                    Codice fiscale:
                                    <span>04701040489</span>
                            </div>
                            <div class="headContent">
                                    Denominazione:
                                    <span>ALICAF S.R.L.</span>
                            </div>
                            <div class="headContent">
                              <div class="headContent">
                                    Indirizzo:
                                    <span>LARGO F.LLI ALINARI N° 28/29 </span>
                              </div>
                              <div class="headContent">
                                <span>Comune:
                                      <span>FIRENZE</span>
                                      Provincia:
                                      <span>FI</span>
                                </span>
                              </div>
                              <div class="headContent">
                                <span>
                                      Cap:
                                      <span>50123</span>
                                      Nazione:
                                      <span>IT</span>
                                </span>
                              </div>
                              <div class="headContent">
            
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="height:10px">
            <table class="tbFoglio">
              <thead>
                <tr>
                  <th>Tipologia documento</th>
                  <th class="perc">Art. 73</th>
                  <th>Numero documento</th>
                  <th class="data">Data documento</th>
                  <th>Codice destinatario</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    TD06 parcella
                  </td>
                  <td class="ritenuta">

                  </td>
                  <td class="textCenter">
                    15/PA
                  </td>
                  <td class="data">
                    04-02-2022
                  </td>
                  <td class="textCenter">
                    USAL8PV
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="separa">
              <table class="tbFoglio">
                <thead>
                  <tr>
                    <th>
                      Causale
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Fattura di vendita<br>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="separa">
                <table class="tbFoglio">
                  <thead>
                    <tr>
                      <th width="80px">
                        Cod. articolo
                      </th>
                      <th>
                        Descrizione
                      </th>
                      <th class="import2">
                        Quantità
                      </th>
                      <th class="import2">
                        Prezzo unitario
                      </th>
                      <th class="perc2">
                        UM
                      </th>
                      <th class="perc">
                        Sconto o magg.
                      </th>
                      <th class="perc2">
                        %IVA
                      </th>
                      <th class="ximport">
                        Prezzo totale
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td><div class="tx-xsmall"> SERP02
                  (Servizio)
                </div>
                </td><td>Assunzione, pratiche di instaurazione del rapporto di lavoro apprendistato professionalizzante di PECANI MARINA - redazione piano formativo individuale - richiesta alla Regione Toscana formazione esterna - invio richiesta di parere di conformità PFI a Ente Bilaterale<div class="tx-xsmall">Periodo da 01-01-2022 a 31-01-2022</div></td><td class="import2"></td><td class="import">50,00</td><td class="textCenter"></td><td class="import"></td><td class="import">22,00</td><td><div class="import">50,00</div></td></tr><tr><td><div class="tx-xsmall"> SERP02
                  (Servizio)
                </div></td><td>Pratiche di cessazione di lavoro di AVELLA DANIELE ed inoltro dimissioni volontarie on-line al Ministero Del Lavoro<div class="tx-xsmall">Periodo da 01-01-2022 a 31-01-2022</div></td><td class="import2"></td><td class="import">40,00</td><td class="textCenter"></td><td class="import"></td><td class="import">22,00</td><td><div class="import">40,00</div></td></tr><tr><td><div class="tx-xsmall"> SERP02
                  (Servizio)
                </div></td><td>Assunzione, pratiche di instaurazione del rapporto di lavoro apprendistato professionalizzante di BALI LEGISA - redazione piano formativo individuale - richiesta alla Regione Toscana formazione esterna - invio richiesta di parere di conformità PFI a Ente Bilaterale<div class="tx-xsmall">Periodo da 01-01-2022 a 31-01-2022</div></td><td class="import2"></td><td class="import">50,00</td><td class="textCenter"></td><td class="import"></td><td class="import">22,00</td><td><div class="import">50,00</div></td></tr><tr><td><div class="tx-xsmall"> SERP02
                  (Servizio)
                </div></td><td>Compilazione- controllo ed invio on-line Inps denuncia Uniemens_Cig per n° 2 dipendenti periodo Dicembre 2021<div class="tx-xsmall">Periodo da 01-01-2022 a 31-01-2022</div></td><td class="import2"></td><td class="import">20,00</td><td class="textCenter"></td><td class="import"></td><td class="import">22,00</td><td><div class="import">20,00</div></td></tr><tr><td><div class="tx-xsmall"> PAG01
                  (Servizio)
                </div></td><td>Cedolini lavoratori dipendenti a forfait - Fatturazione Gennaio 2022<div class="tx-xsmall">Periodo da 01-01-2022 a 31-01-2022</div></td><td class="import2"></td><td class="import">235,00</td><td class="textCenter"></td><td class="import"></td><td class="import">22,00</td><td><div class="import">235,00</div></td></tr><tr><td><div class="tx-xsmall"> SERP02
                  (Servizio)
                </div></td><td>Durc<div class="tx-xsmall">Periodo da 01-01-2022 a 31-01-2022</div></td><td class="import2"></td><td class="import">16,00</td><td class="textCenter"></td><td class="import"></td><td class="import">22,00</td><td><div class="import">16,00</div></td></tr><tr><td><div class="tx-xsmall"> SPESE
                  (Maggiorazione onorari)
                </div></td>
                <td>Magg. Onorari (AC)</td>
                <td class="import2">

                </td>
                <td class="import">
                  61,65
                </td>
                <td class="textCenter">

                </td>
                <td class="import">

                </td>
                <td class="import">
                  22,00
                </td>
                <td>
                  <div class="import">
                    61,65
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="separa">
            <table class="tbFoglio">
              <thead>
                <tr>
                  <th class="title">
                    Dati Cassa Previdenziale
                  </th>
                  <th>
                    Imponibile
                  </th>
                  <th class="perc">
                    %Contr.
                  </th>
                  <th class="perc">
                    Ritenuta
                  </th>
                  <th class="perc">
                    %IVA
                  </th>
                  <th>
                    Importo
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span>TC08</span>
                                (Ente Nazionale Previdenza e Assistenza Consulenti
                                del Lavoro-ENPACL)
                  </td>
                  <td class="import">472,65</td>
                  <td class="import">4,00</td>
                  <td class="Ritenuta"></td>
                  <td class="import">22,00</td>
                  <td class="import">18,91</td>
                </tr>
              </tbody>
            </table>
            <div class="separa">
              <table class="tbTitolo">
                <thead>
                  <tr>
                    <th>RIEPILOGHI IVA E TOTALI</th>
                  </tr>
                </thead>
              </table>
              <table class="tbFoglio">
                <thead>
                  <tr>
                    <th colspan="3">esigibilità iva / riferimenti normativi</th>
                    <th class="perc">%IVA</th>
                    <th>Spese accessorie</th>
                    <th class="perc">Arr.</th>
                    <th colspan="2">Totale imponibile</th>
                    <th colspan="2">Totale imposta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="3">
                      <span>I</span>
                                  (esigibilità immediata)
                      <div class="tx-xsmall">
                        22% - GENERICO
                      </div>
                    </td>
                    <td class="import">
                      22,00
                    </td>
                    <td class="import"></td>
                    <td class="import"></td>
                    <td colspan="2" class="import">
                      491,56
                    </td>
                    <td colspan="2" class="import">
                      108,14
                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">
                      Imposta bollo
                    </th>
                    <th colspan="3">
                      Sconto/Maggiorazione
                    </th>
                    <th class="perc">
                      Arr.
                    </th>
                    <th colspan="4">
                      Totale documento
                    </th>
                  </tr>
                  <tr>
                    <td colspan="2" class="import"></td>
                    <td colspan="3" class="import"></td>
                    <td class="import"></td>
                    <td colspan="4" class="import">599,70</td>
                  </tr>
                </tbody>
              </table>
              <div class="separa">
                <table class="tbFoglio">
                  <thead>
                    <tr>
                      <th class="title"> Dati ritenuta d'acconto</th>
                      <th class="perc">Aliquota ritenuta</th>
                      <th>Causale	</th>
                      <th width="15%">Importo </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span>RT01</span>
                  Ritenuta persone fisiche
                      </td>
                      <td class="import">20,00</td>
                      <td><span>A</span>
                (decodifica come da modello CU)
                      </td>
                      <td class="import">94,53</td>
                    </tr>
                  </tbody>
                </table>
                <div class="separa">
                  <table class="tbFoglio">
                    <thead>
                      <tr>
                        <th style="width:200px">Modalità pagamento</th>
                        <th>Dettagli</th>
                        <th style="width:180px">Scadenze</th>
                        <th class="ximport">Importo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span>MP12</span>
                                RIBA
                          <span></span>
                        </td>
                        <td>

                        </td>
                        <td>Data termine 04-02-2022 24gg
                                <br>
                            Data scadenza 28-02-2022
                        </td>
                        <td class="import">505,17</td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="height:10px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}